
<div class="">
    <span class="">Name:</span>
    <span class=""><%= @user.name %></span>
</div>
<div class="">
    <span class="">Email:</span>
    <span class=""><%= @user.email %></span>
</div>
<div class="">
    <span class="">Member since:</span>
    <span class=""><%= time_ago_in_words @user.created_at %> ago</span>
</div>
<div>
    <%= button_to  "Create Event" %>
</div>
<% if @user.events %>
   <%= render 'events/event', events: @user.events %>
<% end %>